{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.lib.rickshaw-graph"}}

{{#zone "topCss"}}
    {{css "css/custom.css"}}
{{/zone}}

<span id="laptop-details" data-websocketurl="{{websocketEndpoint}}" data-devices="{{devices}}"></span>
<div class="container">
    <div class="row">
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-cpu">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_cpu" class="custom_y_axis">CPU Usage</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_cpu"></div>
                        </div>
                        <div id="chart_cpu" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-memory">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_memory" class="custom_y_axis">Memory Usage</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_memory"></div>
                        </div>
                        <div id="chart_memory" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-network">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_network" class="custom_y_axis">Network Usage</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_network"></div>
                        </div>
                        <div id="chart_network" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-disk">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_disk" class="custom_y_axis">HardDisk Usage</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_disk"></div>
                        </div>
                        <div id="chart_disk" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-diskio">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_diskio" class="custom_y_axis">HardDisk read/write</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_diskio"></div>
                        </div>
                        <div id="chart_diskio" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 graph">
            <div class="sensor_graph">
                <div id="div-chart-battery">
                    <div class="chartWrapper" id="chartWrapper">
                        <div id="y_axis_battery" class="custom_y_axis">Battery</div>
                        <div class="legend_container">
                            <div id="smoother" title="Smoothing"></div>
                            <div id="legend_battery"></div>
                        </div>
                        <div id="chart_battery" class="custom_rickshaw_graph"></div>
                        <div class="custom_x_axis">Time</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/analytics?deviceId={{device.deviceIdentifier}}&deviceName={{device.name}}">
    <span class="fw-stack">
        <i class="fw fw-circle-outline fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Device Analytics
</a>
<!-- device group page link -->
<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/groupanalytics?deviceId={{device.deviceIdentifier}}
   &deviceName={{device.name}}&groupId={{groupId}}">
    <span class="fw-stack">
        <i class="fw fw-circle-outline fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Linux Group Analytics
</a>


<!-- /statistics -->
{{#zone "bottomJs"}}
    {{js "js/moment.min.js"}}
    {{js "js/socket.io.min.js"}}
    {{js "js/device-stats.js"}}
{{/zone}}
