{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}

{{#zone "topCss"}}
    {{css "css/styles.css"}}
    {{css "css/bootstrap.min.css"}}
{{/zone}}

<div class="row">
    <div class="col-lg-2 col-sm-offset-5">
        <div class="form-group">
            <label>Device Profile</label>
            <select id="profileName" name="profileName">
                {{#each profileTypes}}
                    <option value="{{profileId}}">{{profileName}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>
<br/>

<div class="col-sm-11 col-sm-offset-1 col-lg-11 col-lg-offset-1 main">

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Avg RAM usage</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Avg battery level</h4>
                    <div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Avg disk usage</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Avg CPU usage</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span>
                    </div>
                </div>
            </div>
        </div>

    </div><!--/.row-->

    <div class="row">
        <div class="btn-group" style="margin: 0 auto;display:table">
            <button type="button" class="btn btn-primary">Last 1hr</button>
            <button type="button" class="btn btn-primary">Last 2hrs</button>
            <button type="button" class="btn btn-primary">Last 4hrs</button>
        </div>
    </div>
    <br/>



    <div class="row">

        <div class="col-xs-12 col-md-6 col-lg-3 col-lg-offset-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked upload"><use xlink:href="#stroked-upload"/></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">52 GB</div>
                        <div class="text-muted">Uploads</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked download"><use xlink:href="#stroked-download"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">24 GB</div>
                        <div class="text-muted">Downloads</div>
                    </div>
                </div>
            </div>
        </div>

    </div><!--/.row-->

    <div class="row">
        <button>RAM</button>
        <button>MEMORY</button>
        <button>CPU</button>

    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Site Traffic Overview</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->




</div><!--/.row-->







{{#zone "bottomJs"}}
    {{js "js/linuxgroup-graph.js"}}
    {{js "js/chart.min.js"}}
    {{js "js/chart-data.js"}}
    {{js "js/easypiechart.js"}}
    {{js "js/easypiechart-data.js"}}
    {{js "js/lumino.glyphs.js"}}


{{/zone}}